<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>webTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servletTest01</servlet-name>
    <servlet-class>kr.or.ddit.basic.ServletTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletTest01</servlet-name>
    <url-pattern>/servletTest01.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltTest03</display-name>
    <servlet-name>ServeltTest03</servlet-name>
    <servlet-class>kr.or.ddit.basic.ServeltTest03</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletTest04</display-name>
    <servlet-name>ServletTest04</servlet-name>
    <servlet-class>kr.or.ddit.basic.ServletTest04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest04</servlet-name>
    <url-pattern>/ServletTest04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest044</display-name>
    <servlet-name>ServletTest044</servlet-name>
    <servlet-class>kr.or.ddit.basic.ServletTest04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest044</servlet-name>
    <url-pattern>/ServletTest044</url-pattern>
  </servlet-mapping>
  
  
 
  
</web-app>